.main{text-align: center;
    /* background-color: black; */

}
.heading{
    text-align: center;
    display:inline-block;
    width: 150px;
    background-color: #d5e8d4;
    border: 1px solid #86b66b;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;    
}
.Arrange{   
    background-color: blueviolet;
    display: inline-block;   

}
